@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

*,*::after,*::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right,#e5e9e4,#a3f194 );
    font-family: 'Roboto', sans-serif;
}
.workstation-container{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2,10rem);
    grid-template-rows: minmax(7rem, auto) repeat(3,3rem);
}

.workstation-header{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,.5);;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    /* word-break: break-all; */
    word-wrap: break-word;
}

.workstation-header .workstation-title{
    color: rgba(238, 231, 238, 0.78);    
    font-size: 2rem;
    font-weight: bold;
}
.workstation-header .workstation-summary{
    color: rgba(77, 226, 64, 0.9);    
    font-size: 1rem;
    font-weight: bold;
}
.graph{
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.workstation-body{
    grid-column: 1/-1;

}

.workstation-graph{
    background-color: rgba(255, 255, 255, 0.5);

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container{
    background-color: rgba(255, 255, 255, 0.5);

}
.task{
    cursor: move;
    border: 1px solid rgba(0, 0, 0, .6);
    
    padding: .25rem .25rem .25rem .25rem ;
    margin: .15rem .15rem .15rem .15rem ;
    
    border-radius: 5px;

    height: fit-content;
    width: fit-content;
    word-wrap: break-word;
    word-break: break-all;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;



}
.task p{
    font-weight: bold;

}

.task-type-success{
    background-color: rgb(6, 228, 6);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    margin-left: 10px;
}

.task:hover,
.task:focus{
    background-color: rgba(255, 255, 255, 0.9);
}

.collapsible{
    background-color: rgba(0,0,0,.5);
    border: none;
    width: 100%;
    cursor: pointer;

}